{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/display.html">
        {% csrf_token %}
    <div>
        <table class="table table-bordered " >
			
            <tr class="table-primary">
               <td>name</td>
               <th>date of birth</th>
               <th>email</th>
               <th>phone no</th>
            </tr>
        {% for r in re %}
            <tr class="table-primary">
                <td>{{r.name}}</td>
                    <td>{{r.dob}}</td>
                    <td>{{r.email}}</td>
                    <td>{{r.telephone }}</td>
            </td>
        {% endfor %}
        </table>
        <button class="btn btn-outline-primary" type="submit">
            <a href="{% url 'index' %}">user form </a> 
        </button>
    </div>
       
</body>
</html>
{% endblock body %}